<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>내 정보 보기</h3>
<form action="join" method="post">
    id: <input type="text" name="id" value="{{m.id}}" readonly><br/>
    pwd: <input type="password" name="pwd" value="{{m.pwd}}"><br/>
    name: <input type="text" name="name" value="{{m.name}}"><br/>
    pnum: <input type="text" name="pnum" value="{{m.pnum}}"><br/>
    email: <input type="text" name="email" value="{{m.email}}"><br/>
    <input type="submit" value="가입">
</form>
</body>
</html>