<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>내 예약 정보 보기</h3>
<h4>오늘의 예약 정보</h4>
<form action="/reserve/reserveinfo" method="POST">
<table border="1">
    <tr>
        <th>예약번호</th><th>예약시간</th><th>도착예정시간</th><th>노선명</th><th>차량번호</th>
        <th>승차정류소</th><th>하차정류소</th><th>예약확인</th><th>비고</th>
    </tr>
        {% for i in range(todayres|length) %}
        <tr>
            <td><input type="radio" name="reservenum" value="{{todayres[i][0]}}">{{todayres[i][0]}}</td>
            <td>{{todayres[i][1]}}</td><td>{{todayres[i][3]}}</td><td>{{todayres[i][4]}}</td>
            <td>{{todayres[i][5]}}</td><td>{{todayres[i][6]}}</td><td>{{todayres[i][7]}}</td>
            <td>{{todayres[i][8]}}</td><td>{{todayres[i][9]}}</td>
        </tr>
    {% endfor %}
</table>
<td><input type="submit" value="예약취소"></td>
</form>

<h4>지난 예약 정보</h4>
<table border="1">
    <tr>
        <th>예약번호</th><th>예약시간</th><th>노선명</th><th>차량번호</th>
        <th>승차정류소</th><th>하차정류소</th><th>예약확인</th><th>비고</th>
    </tr>
    {% for i in range(res|length) %}
        <tr>
            <td>{{res[i][0]}}</td><td>{{res[i][1]}}</td><td>{{res[i][4]}}</td><td>{{res[i][5]}}</td>
            <td>{{res[i][6]}}</td><td>{{res[i][7]}}</td><td>{{res[i][8]}}</td><td>{{res[i][9]}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>