.Background-2 {
  width: 1393px;
  height: 1080px;
  margin: 0 0 0 3px;
  background-color: #f9fafb;
}

.\- {
  width: 212px;
  height: 35px;
  margin: 0 77px 13px 8px;
  font-family: KOHIBaeum;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.96px;
  text-align: left;
  color: #3679f4;
}