<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>버스 노선 검색<br/></h2>
<form action="/bus/businfo" method="post">
    버스명: <input type="text" name="busnm">
    <input type="submit" value="검색">
</form>
<form action="/bus/stationlistinfo" method="post">
    정류장번호: <input type="text" name="arsid">
    <input type="submit" value="검색">
</form><br/>
{% if session['flag'] %}
    <a href="/member/logout">로그아웃</a><br/>
    <a href="/member/myinfo">내정보확인</a><br/>
    <a href="/member/out">탈퇴</a><br/>
{% else %}
    <a href="/member/login">로그인</a>
    <a href="/member/join">회원가입</a>
{% endif %}


</body>
</html>