<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약란</title>
</head>
<body>
<table border="1">
    <tr><th>도착 시간</th><th>예정 시간</th><th>차량 번호</th>
        <th>승차 정류소</th><th>하차 정류소</th><th>예약 확인</th>
        <th>예약 취소 사유</th>
    </tr>
    {% for r in check %}
        <tr>
            <td>{{r.arrmsg}}</td><td>{{r.rtNm}}</td><td>{{r.plainNo}}</td>
            <td>{{r.stNm}}</td><td>{{r.stNmD}}</td><td>{{r.reserve}}</td>
            <td>{{r.etc}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
